:root{
	font-size: 10px;
	--cherry: rgba(228,0,43,1);
	--plum: rgba(63,21,79,1);
}

body,html{
	font-family: 'Nunito', sans-serif;
	font-size: 2rem;
	line-height: 3rem;
	/* background-image: url("https://source.unsplash.com/random/1800x1000"); */
	background-image: var(--image);
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* unsplash reference at https://source.unsplash.com/ */
}

.wrapper{
	height:100%;
}

#grid-items{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 45px;
	margin: auto;
	padding:75px 15px 0px 15px;
	max-width: 1200px;
}
#inspo{
	grid-column: span 2;
	align-self: start;
}

.card{
	padding: 0px;
	box-shadow: 0px 3px 18px rgba(0,0,0,0.3);
	border-radius: 15px 15px 10px 10px;
	background-color: rgba(255,255,255,0.8);
}

.card-head{
	display:flex;
	border-bottom: 3px var(--cherry);
	border-bottom-style: solid;
	justify-content: center;
	text-transform: uppercase;
	color: rgba(228,0,43,1);
	background-color: var(--plum);
	border-radius: 10px 10px 0px 0px;
	height: 50px;
}

.icon{
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	margin-top:-35px;
	width:30px;
	height:30px;
	z-index: 10;
	background-color: var(--plum);
	padding:20px;
	border-radius:50px;
	box-shadow: 0px 3px 18px rgba(0,0,0,0.3);
}

.card-content{
	padding: 20px;
	display: inline-grid;
}

.card-content div{
	display: block;
}

.card-content img{
	vertical-align: baseline;
	height:16px;
	width:auto;
}

.card-content a{
	text-transform: capitalize;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	border-radius:5px;
	text-decoration: none;
	color: var(--plum);
	/* underline animation */
	background-image: linear-gradient(var(--cherry), var(--cherry));
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .2s;
}

.card-content a:hover{
	background-size: 100% 2px;
	color: var(--cherry);
	/* end underline animation */
}

.feather {
	width: 36px;
	height: 36px;
	stroke: currentColor;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

@media screen and (max-width: 1000px){
	#grid-items{
		grid-template-columns: repeat(3,1fr);
	}
}

@media screen and (max-width: 700px){
	#grid-items{
		grid-template-columns: repeat(2,1fr);
		grid-row-gap: 50px;
		padding:50px 15px;
	}
}